.profile{
    width: 50px;
    margin-bottom: 30px;
    border-radius: 100%;
}

.logo{
    width: 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar.logo{
    width: max(10%,80px);
}

.navbar.profile{
    width: 40px;
}